= form_for :appointment, url: appointments_path do |f|
  .field
    = f.label :paitentType
    = f.check_box :paitent_type
  .field
    = f.label :firstName
    = f.text_field :first_name
  .field
    = f.label :lastName
    = f.text_field :last_name
  .field
    = f.label :phoneNumber
    = f.text_field :phone_number
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :comments
    = f.text_area :comments
    
  .actions
    = f.submit 'Save'
