%p
	%b First Name:
	= @appointment.first_name

%p
	%b Last Name:
	= @appointment.last_name

%p
	%b Paitent Type:
	= @appointment.paitent_type

%p
	%b Phone Number:
	= @appointment.phone_number

%p
	%b Email:
	= @appointment.email

%p
	%b Comments:
	= @appointment.comments

